body {
  font-family: 'helvetica neue', arial, sans-serif; color:#ffffff;
  font-weight: 300;
  background: url(spacebackground.png) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}


a:hover {
  color: white;
}